/*---------------------
 	Contact Section
---------------------*/

.contact-us {
    /* margin-top: 8rem; */
	padding-top: 10rem;
	padding-bottom: 10rem;
}

form {
  max-width: 420px;
  margin: 50px auto;
}

.feedback-input {
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border: 2px solid white;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
}

.feedback-input:focus {
  border: 2px solid #e9e8e8;
}

textarea {
  height: 150px;
  line-height: 150%;
  resize: vertical;
}

[type="submit"] {
  font-family: inherit;
  width: 100%;
  background: #353333;
  border-radius: 5px;
  border: 0;
  cursor: url('../../assets/cursor.cur'), auto;
  color: white;
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.3s;
  margin-top: -4px;
  font-weight: 700;
}
[type="submit"]:hover {
  background: white;
  color: #353333;
}

@media (prefers-color-scheme: light) {
  .feedback-input {
    color: black;
    border: 2px solid #353333;
  }

  .feedback-input:focus {
    border: 2px solid #353333;
  }

  [type="submit"] {
    background: #353333;
    color: white;
  }
  [type="submit"]:hover {
    background: #767474;
  }
}
